<nav class="bg-gray-800 text-white p-4">
    <div class="flex mx-auto justify-between items-center">
        <div class="flex">
            <a href="/" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Home</a>
            <a href="/market" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Market Place</a>
            <a href="/inventory" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Inventory</a>
            <a href="/account" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Account Settings</a>
        </div>
        <div>
            <a href="/login" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Log Out</a>
        </div>
    </div>
</nav>