<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs')%>
<body>
<%- include ('./partials/header.ejs')%>
    <!-- used chatgpt for css documentation instead of searching the website on the things i need -->
    <div class="flex flex-col md:flex-row">
        <div class="flex flex-col w-full md:w-1/2 px-4 py-8 border-b-4 md:border-r-4 md:border-b-0 ">
            <% if (currentUser) {%>
             <div class="">
                    <div class="p-4 size-40 h-11 font-extrabold text-lg">Welcome <%= currentUser.username %></div>
                    <div class="mt-4 p-4 rounded-lg size-80 h-56">
                            <% if (!currentUser.superUser) { %>
                                <form action="/upgrade-account" method="POST" class="">
                                    <div class="mb-6">
                                        <p class="text-gray-700 mb-4">Upgrade your account to a Super User:</p>
                                    </div>
                                    <div class="flex items-center justify-between">
                                        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                                            Upgrade Account
                                        </button>
                                    </div>
                                </form>
                            <% } else { %>
                                <p class="text-gray-700">You are already a Super User.</p>
                                <div class="text-xl font-bold pt-4">Tools
                                    <ul class="pt-2">
                                        <li>
                                            <a href="/create-item" class="font-sans text-blue-600 hover:text-blue-900">Create items</a>
                                        </li>
                                        <li>
                                            <a href="/item-list" class="font-sans text-blue-600 hover:text-blue-900">Edit/Delete items</a>
                                        </li>
                                    </ul>
                                </div>
                            <% } %>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>
            <% } else { %>
                <a  href="/">Not logged in - Click me to log in</a>
            <% } %>
        </div>
    </div>

   
</body>
</html>