<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="bg-gray-800 text-white p-4">
        <div class="flex mx-auto justify-between items-center">
            <div class="flex">
                <a href="/home" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Home</a>
                <a href="/market" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Market Place</a>
                <a href="/account" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Account Settings</a>
            </div>
            <div>
                    <a href="/login" class="text-white py-2 px-4 hover:bg-gray-700 rounded">Log Out</a>
            </div>
        </div>
    </nav>
    <div class="flex flex-col h-screen justify-center items-center">
        <div class="p-8 font-extrabold text-lg">Are you sure you want to delete your account?</div>
        <form action="/delete" method="POST">
            <div class="flex pr-7">
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-4 rounded">Delete  
                </button>
            </div>
        </form>
    </div>
</body>
</html>