<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs')%>
<body>
    <%- include ('./partials/header.ejs')%>
    <div class="flex flex-col">
        <div class="p-4 size-40 h-11 font-extrabold text-lg">Create Item</div>
            <div class="mt-4 p-4 rounded-lg w-[80vw] h-56">
                <form action="/create-new" method="POST">
                    <div class="mb-6">
                        <div class="flex flex-row items-center gap-3 p-3">
                            <label for="itemName" class=" text-gray-700 text-sm font-bold mb-2">Item Name:</label>
                            <input type="text" name="name" id="itemName" placeholder="Item Name" class="shadow appearance-none border-2 rounded w-6/12 py-2 px-3 text-gray-700"/>
                        </div>
                        <div class="flex flex-row items-center gap-3 p-3">
                            <label for="itemClass" class="block text-gray-700 text-sm font-bold mb-2">Item Class:</label>
                            <select name="class" id="itemClass" class="shadow border-2 rounded w-6/12 py-2 px-3 text-gray-700 mb-3">
                                <option value="">Select a Class</option>
                                <option value="Weapon">Weapon</option>
                                <option value="Armor">Armor</option>
                            </select>
                        </div>
                        <div class="flex flex-row items-center gap-3 p-3">
                            <label for="imgUrl" class=" text-gray-700 text-sm font-bold mb-2">Image Url:</label>
                            <input type="text" name="img" id="imgUrl" placeholder="Image Url" class="shadow appearance-none border-2 rounded w-6/12 py-2 px-3 text-gray-700 "/>
                        </div>
                        <div class="flex flex-row items-center gap-3 p-3">
                            <label for="price" class=" text-gray-700 text-sm font-bold mb-2">Price :</label>
                            <input type="number" name="price" id="price" placeholder="Price" class="shadow appearance-none border-2 rounded w-6/12 py-2 px-3 text-gray-700 "/>
                        </div>
                        <div class="flex flex-row items-center gap-3 p-3">
                            <label for="power" class=" text-gray-700 text-sm font-bold mb-2">Power:</label>
                            <input type="text" name="power" id="power" placeholder="Power" class="shadow appearance-none border-2 rounded w-6/12 py-2 px-3 text-gray-700 "/>
                        </div>
                        <div class="flex">
                            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit">
                                Create Item
                            </button>
                        </div>
                    </div>
                </form>
            </div>
    </div>
</body>
</html>